@media screen and (min-width: 1024px){
    header{
        #barraNavegacion{
            margin-right: 10%; 
            margin-left: 10%;  
        }
    }

    main{
        #presentacion{
            #resultadoBusquedaPersonal{
                #grillaBusquedaPersonal{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    .GifTrending{
                        .pasarMouse{
                            width: 21.5%;
                        }
                    }
                }
            }
        }
    }    
}

@media screen and (min-width: 1250px){
    main{
        #presentacion{
            .barraBusqueda{
                .sticky {
                    position: fixed;
                    top: 25px;
                    left: 190px;
                    z-index: 100;
                    width: 334px  !important;
                }
            }
        }
    }    
}
