@media screen and (min-width: 1024px){
    header{
        #barraNavegacion{
            margin-right: 10%; 
            margin-left: 10%;  
        }
    }

    main{
        #presentacion{
            #resultadoBusquedaPersonal{
                #grillaBusquedaPersonal{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    .GifTrending{
                        .pasarMouse{
                            width: 21.5%;
                        }
                    }
                }
            }
        }
    }    

    #grillaResultadosFavoritos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .GifFavoritos{
            .pasarMouse{
                width: 21.5%;
            }
        }
    }
}
