@media screen and (min-width: 768px){
    #agrandarGif{
        width: 70vw;
        position: relative;
        left: 15vw;
    }
    header{
        background-color: $colorBlanco;
        #barraNavegacion{
            height: 90px;
            margin-right: 7%; 
            margin-left: 7%;  
            a{
                position: relative;
                z-index: 12;
                margin-left: 0px;       
                img{
                    margin: 18px 0 0 0;
                    width: 59px;
                }
            }
            nav{
                width: 100%;
                height: 90px;
                .menu{
                    height: 90px; 
                    margin: 0;
                    .hamburguesa{
                        display: none;
                    }
                    .cruz{
                        display:none;
                    }
                    ul{
                        height: 90px; 
                        position: relative;
                        top: 0;
                        overflow: visible;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                        background-color: $colorBlanco;
                        .linkPrimero{
                            margin: 0;
                            }
                        li{
                            margin: 0;
                            padding: 0;
                            text-transform: uppercase;
                            padding-left: 40px;
                            .link{
                                color: $colorAzul;
                                margin: 0;
                            }
                            .crearGifos{
                                display: inherit;
                                content: url(../images/button-crear-gifo.svg);
                            }
                            .crearGifos:hover{
                                content: url(../images/CTA-crear-gifo-hover.svg);
                            }
                            .crearGifos:active{
                                content: url(../images/CTA-crear-gifo-active.svg);
                            }
                            .lineaFina{
                                display: none;
                            }
                            .lineaHover{
                                display: inherit;
                                width: 100%;
                                height: 2px;
                                margin-top: 3px;
                                background-color: $colorBlanco;
                            }
                        }
                    }
                }
                input#checkbox{
                    display: none;
                }
            }
        }
    }
    header #barraNavegacion nav .menu input[type="checkbox"]:checked ~ ul{
        height: 90px;
    }

    header #barraNavegacion nav .menu input:checked ~ .cruz{
        display: none;
    }

    main{
        position: relative;
        top: 170px;
        #presentacion{
            h1.titulo{
                max-width: 700px;
                margin-left: auto;
                margin-right: auto;
                font-size: 35px;
                line-height: 50px;
            }
            .barraTrending{
                h3.titulo{
                    margin-top: 73px;
                }
                p.textosPrincipales{
                    margin-bottom: 95px;
                }
            }
            .barraTrending{
                margin-bottom: 45px;
                padding: 0 60px;
                h3.titulo{
                    font-size: 16px;
                    line-height: 25px;
                }
                p.textosPrincipales{
                    color: $colorAzul;
                    font-size: 14px;
                    line-height: 25px;
                }
            }
            #resultadoBusquedaPersonal{
                #lineaGris{
                    width: 340px;
                    margin-bottom: 82px;
                }
                #tituloBusquedaPersonal{
                    margin-bottom: 60px;
                }
                #grillaBusquedaPersonal{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr ;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                    .GifTrending{
                        .pasarMouse{
                            width: 29%;
                        }
                    }
                }
            }
        }
        #trending{
            padding-bottom: 182px;
            .informacion{
                padding-top: 63px;
                h2{
                    font-size: 25px;
                    padding-bottom: 12px;
                }
                p{
                    font-size: 18px;
                    br{
                        display: none;
                    } 
                }
            }
            #scrollIzquierda, #scrollDerecha{
                display: flex;
            }
            #scrollIzquierda{
                #iconoScrollIzquierda{
                    content: url(../images/button-slider-left.svg);
                }
                #iconoScrollIzquierda:hover{
                    content: url(../images/button-slider-left-hover.svg);
                }
                #iconoScrollIzquierda:active{
                    content: url(../images/button-slider-left-hover.svg);
                }
            }
            #scrollDerecha{
                #iconoScrollDerecha{
                    content: url(../images/Button-Slider-right.svg);
                }
                #iconoScrollDerecha:hover{
                    content: url(../images/Button-Slider-right-hover.svg);
                }
                #iconoScrollDerecha:active{
                    content: url(../images/Button-Slider-right-hover.svg);
                }
            }
        }
    }

    footer{
        position: relative;
        top: 120px;
        .grillaFooter{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 10%;
            height: 116px;
            div{
                display: flex;
                align-items: center;
                .textosSecundarios{
                    font-size: 13px;
                    line-height: 15px;
                }
                .iconos{
                    margin: 0 0 0 20px;
                    a{
                        .facebook:hover{
                            background-image: url(../images/icon_facebook_hover.svg);
                        }
                        .twitter:hover{
                            background-image: url(../images/icon-twitter-hover.svg);
                        }
                        .instagram:hover{
                            background-image: url(../images/icon_instagram-hover.svg);
                        }
                    }
                }
            }
            .texto2{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 13px;
                line-height: 15px;
                margin-bottom: 0;
            }
        }
    }

    .scroll{
        #gifTrending{
            div{
                img{
                    height: 275px;
                    width: 340px;
                }
                .pasarMouse{
                    height: 275px;
                    width: 340px;
                }
            }
        }
    }

    #grillaResultadosFavoritos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        .GifFavoritos{
            .pasarMouse{
                width: 29%;
            }
        }
    }
}