main#crearGif{
    position: relative;
    top: 105px;
    display: flex;
    flex-direction: column;
    .seccionCamara{
        display: flex;
        margin-left: 10%;
        .cajaEncuadre{
            height: 390px;
            min-width: 690px;
            border: 1px solid $colorAzul;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                font-size: 25px;
                line-height: 35px;


                                        display: none;
            }
            .textosSecundarios{
                padding-top: 10px;
                line-height: 29px;

                                     display: none;
            }
            #gifGrabado{
                display: none;
                width: 430px;
                margin: auto;
            }
            #cuadroAzul{
                z-index: 100;
                background-color: $colorAzul;
                opacity: 0.60;
                width: 430px;
                height: 240px;
                margin: auto;
                #iconosEsquina{
                    display: flex;
                    flex-direction: row-reverse;
                    margin: 12px 12px 0 0;
                    #iconoCompartir{
                        margin-left: 8px;
                        opacity: 0;
                    }
                    #iconoDescarga{
                        opacity: 0;
                    }
                    #iconoDescarga:hover{
                        content: url(../images/icon-download-hover.svg);
                    }
                    #iconoCompartir:hover{
                        content: url(../images/icon-link-hover.svg);
                    }
                }
                #estadoSubida{
                    display: flex;
                    flex-direction: column;
                    margin-top: 40px;
                    #iconoEstado{
                        margin-bottom: 15px;
                    }
                    p{
                        text-align: center;
                        font-family: $tipoTitulos;
                        font-size: 15px;
                        line-height: 19px;
                        color: $colorBlanco;
                        font-weight: $bold;
                    }
                }
            }
            .marcasEncuadre{
                position: absolute;
                margin: 27px;
                height: 336px;
                width: 636px;
                .esquina{
                    height: 27px;
                    width: 25px;
                    border-top: 1px solid $colorVerde;
                    border-left: 1px solid $colorVerde;
                }
                .arribaIzq{
                    position: absolute;
                }
                .arribaDer{
                    position: absolute;
                    right: 0;
                    transform: rotate(90deg); 
                }
                .abajoDer{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: rotate(180deg); 
                }
                .abajoIzq{
                    position: absolute;
                    bottom: 0;
                    transform: rotate(-90deg); 
                }
            }
        }
        .imgPelicula{
            position: relative;
            left: 50px; 
            top: 200px;
        }
    }
    .botonesPasos{
        width: 200px;
        margin: 13px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        div{
            font-family: $tipoTextos;
            font-weight: $medium;
            color: $colorAzul;
            font-size: 18px;
            line-height: 32px;
            border: 1px solid $colorAzul;
            height: 32px;
            width: 32px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            margin: 13px;
        }
    }
    .lineaGruesa{
        align-self: center;;
        width: 795px;
        height: 7px;
        background-color: $colorAzul;
        border-radius: 7px;
    }
    .botonesCreacion{
        height: 50px;
        width: 127px;
        border-radius: 50px;
        border: 1px $colorAzul solid;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
        p{
            font-family: $tipoTitulos;
            font-weight: $bold;
            color: $colorAzul;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 16px;
        }
    }
    .botonesCreacion:hover{
        background-color: $colorAzul;
        p{
            color: $colorBlanco;
        }
    }
    #botonGrabar, #botonFinalizar, #botonSubir{
        display: none;
    }
}
