*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: $colorBlanco;
}

//-------------TEXTOS---------------//

.titulo{
    font-family: $tipoTitulos;
    font-weight: $bold;
    color: $colorAzul;
    text-align: center;
}

.textosPrincipales{
    font-family: $tipoTitulos;
    font-weight: $medium;
    text-align: center;
}

.textosSecundarios{
    font-family: $tipoTextos;
    font-weight: $regular;
    text-align: center;
}

//-------------TIPOGRAFIA COLORES---------------//

.colorVerde{
    color: $colorVerde;
}