header{
        width: 100%;
        position: fixed;
    .lineaAzul{
        height: 5px;
        background-color: $colorAzul;
    }
    #barraNavegacion{
        height: 95px;
        background-color: $colorBlanco;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a{            
            img{
                width: 49px;
                margin: 29px 0 0 22px;
            }
        }
        nav{
            height: 95px;
            .menu{
                margin: 47px 26px 0 0;
                .hamburguesa{
                }
                .cruz{
                    display:none;
                }
                ul{
                    width: 100%;
                    position: absolute;
                    top: 100px;
                    right: 0;
                    overflow: hidden;
                    background-color: rgba($colorAzul, 0.90);
                    height: 0px;
                   .linkPrimero{
                        margin-top: 40px;
                    }
                    li{
                        list-style: none;
                        height: 60px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .link{
                            font-family: $tipoTitulos;
                            font-weight: $bold;
                            color: $colorBlanco;
                            text-decoration: none;
                            display: block;
                            font-size: 15px;
                            text-align: center;
                        }
                        .crearGifos{
                            display: none;
                            img{
                            }                        
                        }
                        .lineaFina{
                            width: 41px;
                            height: 0.1px;
                            margin-top: 11px;
                            background-color: $colorBlanco;
                            align-self: center;
                        }
                    }
                }

                input[type="checkbox"]:checked ~ ul {
                    height: 100vh;
                } 

                input:checked ~ .hamburguesa {
                    display: none;
                }          
                
                input:checked ~ .cruz {
                    display: inherit;
                }   

                /*---------CHECKBOX TRANSPARENTE-----------*/
                input{
                    display: block;
                    width: 95px; 
                    height: 95px;
                    opacity: 0;
                    z-index: 2;
                    position: absolute;
                    top: 5px;
                    right: 0px;           
                }
            }
        }
    }
}


