body.nocturno{
    background-color: $colorFondoNocClaro;
    .titulo{
        color: $colorBlanco;
    }

    header{
        .lineaAzul{
            background-color: $colorNegro;
        }
        #barraNavegacion{
            background-color: $colorFondoNocClaro;  
            nav{
                .menu{
                    ul{
                        background-color: rgba($colorNegro, 0.90);
                    }
                    li:hover{
                        .lineaHover{
                            background-color: $colorVerde;
                        }
                    }
                    li:active{
                        .lineaHover{
                            background-color: rgba($colorGrisBotones, 0);
                        }
                        .link{
                            color: $colorGrisBotones;
                        }
                    }
                    .crearGifos{
                        display: inherit;
                        content: url(../images/CTA-crear-gifo-modo-noc.svg);
                    }
                    .crearGifos:hover{
                        content: url(../images/CTA-crar-gifo-modo-noc.svg);
                    }
                    .crearGifos:active{
                        content: url(../images/CTA-crear-gifo-active-modo-noc.svg);
                    }
                }
            }
        }
    }

    main{
        #presentacion{
            .barraBusqueda{          
                #form{
                    border: $colorBlanco solid 1px;
                    #CompletarCampo{
                        input{
                            background-color: $colorFondoNocClaro;
                        }
                    }
                }
            }
            .barraTrending{
                p.textosPrincipales{
                    color: $colorBlanco;
                }
            }
            #resultadoBusquedaPersonal{
                #botonVerMas{
                    border: 1px $colorGrisClaro solid;
                    p{
                        color: $colorGrisClaro;
                    }
                }
            }
        }
        #trending{
            background-color: $colorFondoNocOscuro;
            p.textosSecundarios{
                color: $colorBlanco;
            } 
            #scrollIzquierda, #scrollDerecha{
                display: flex;
            }
            #scrollIzquierda{
                #iconoScrollIzquierda{
                    content: url(../images/button-slider-left-md-noct.svg);
                }
                #iconoScrollIzquierda:hover{
                    content: url(../images/button-slider-left-hover2.svg);
                }
                #iconoScrollIzquierda:active{
                    content: url(../images/button-slider-left-hover2.svg);
                }
            }
            #scrollDerecha{
                #iconoScrollDerecha{
                    content: url(../images/button-slider-right-md-noct.svg);
                }
                #iconoScrollDerecha:hover{
                    content: url(../images/Button-Slider-right-hover2.svg);
                }
                #iconoScrollDerecha:active{
                    content: url(../images/Button-Slider-right-hover2.svg);
                }
            }
        }
    }

    footer{
        .grillaFooter{
            div{
                .textosSecundarios{
                    color: $colorBlanco;
                }
                .iconos{
                    a{
                        .facebook:active{
                            background-image: url(../images/icon_facebook_noc.svg);
                        }
                        .twitter:active{
                            background-image: url(../images/icon_twitter_noc.svg);
                        }
                        .instagram:active{
                            background-image: url(../images/icon_instagram_noc.svg);
                        }
                    }        
                }
            }
            .texto2{
                color: $colorBlanco;
            }
        }  
        .lineaAzul{
            background-color: $colorNegro;
        }
    }
}

//-----------------------
//-----------------------
//-----------------------

@media screen and (min-width: 768px){
    body.nocturno{
        header{
            background-color: $colorFondoNocClaro;
            #barraNavegacion{
                nav{
                    .menu{
                        ul{
                            background-color: $colorFondoNocClaro;
                            li{
                                .link{
                                    color: $colorBlanco;
                                }
                                .lineaHover{
                                    background-color: $colorFondoNocClaro;
                                }
                            }
                        }
                    }
                }
            }
        }

        footer{
            .grillaFooter{
                div{
                    .iconos{
                        a{
                            .facebook:hover{
                                background-image: url(../images/icon_facebook_noc.svg);
                            }
                            .twitter:hover{
                                background-image: url(../images/icon_twitter_noc.svg);
                            }
                            .instagram:hover{
                                background-image: url(../images/icon_instagram_noc.svg);
                            }
                        }
                    }
                }
            }
        }
    }
}