* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #572EE5;
  text-align: center;
}

.textosPrincipales {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}

.textosSecundarios {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}

.colorVerde {
  color: #50E3C2;
}

body.nocturno {
  background-color: #37383C;
}

body.nocturno .titulo {
  color: #ffffff;
}

body.nocturno header .lineaAzul {
  background-color: #000000;
}

body.nocturno header #barraNavegacion {
  background-color: #37383C;
}

body.nocturno header #barraNavegacion nav .menu ul {
  background-color: rgba(0, 0, 0, 0.9);
}

body.nocturno header #barraNavegacion nav .menu li:hover .lineaHover {
  background-color: #50E3C2;
}

body.nocturno header #barraNavegacion nav .menu li:active .lineaHover {
  background-color: rgba(156, 175, 195, 0);
}

body.nocturno header #barraNavegacion nav .menu li:active .link {
  color: #9CAFC3;
}

body.nocturno header #barraNavegacion nav .menu .crearGifos {
  display: inherit;
  content: url(../images/CTA-crear-gifo-modo-noc.svg);
}

body.nocturno header #barraNavegacion nav .menu .crearGifos:hover {
  content: url(../images/CTA-crar-gifo-modo-noc.svg);
}

body.nocturno header #barraNavegacion nav .menu .crearGifos:active {
  content: url(../images/CTA-crear-gifo-active-modo-noc.svg);
}

body.nocturno main #presentacion .barraBusqueda #form {
  border: #ffffff solid 1px;
}

body.nocturno main #presentacion .barraBusqueda #form #CompletarCampo input {
  background-color: #37383C;
}

body.nocturno main #presentacion .barraTrending p.textosPrincipales {
  color: #ffffff;
}

body.nocturno main #presentacion #resultadoBusquedaPersonal #botonVerMas {
  border: 1px #F3F5F8 solid;
}

body.nocturno main #presentacion #resultadoBusquedaPersonal #botonVerMas p {
  color: #F3F5F8;
}

body.nocturno main #trending {
  background-color: #222326;
}

body.nocturno main #trending p.textosSecundarios {
  color: #ffffff;
}

body.nocturno main #trending #scrollIzquierda, body.nocturno main #trending #scrollDerecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.nocturno main #trending #scrollIzquierda #iconoScrollIzquierda {
  content: url(../images/button-slider-left-md-noct.svg);
}

body.nocturno main #trending #scrollIzquierda #iconoScrollIzquierda:hover {
  content: url(../images/button-slider-left-hover2.svg);
}

body.nocturno main #trending #scrollIzquierda #iconoScrollIzquierda:active {
  content: url(../images/button-slider-left-hover2.svg);
}

body.nocturno main #trending #scrollDerecha #iconoScrollDerecha {
  content: url(../images/button-slider-right-md-noct.svg);
}

body.nocturno main #trending #scrollDerecha #iconoScrollDerecha:hover {
  content: url(../images/Button-Slider-right-hover2.svg);
}

body.nocturno main #trending #scrollDerecha #iconoScrollDerecha:active {
  content: url(../images/Button-Slider-right-hover2.svg);
}

body.nocturno footer .grillaFooter div .textosSecundarios {
  color: #ffffff;
}

body.nocturno footer .grillaFooter div .iconos a .facebook:active {
  background-image: url(../images/icon_facebook_noc.svg);
}

body.nocturno footer .grillaFooter div .iconos a .twitter:active {
  background-image: url(../images/icon_twitter_noc.svg);
}

body.nocturno footer .grillaFooter div .iconos a .instagram:active {
  background-image: url(../images/icon_instagram_noc.svg);
}

body.nocturno footer .grillaFooter .texto2 {
  color: #ffffff;
}

body.nocturno footer .lineaAzul {
  background-color: #000000;
}

body.nocturno #agrandarGif #marcoIcono #iconoCerrar {
  content: url(../images/close-modo-noct.svg);
}

body.nocturno #agrandarGif #datosAmpliado #datosGifAmpliado {
  color: #ffffff;
}

body.nocturno #agrandarGif #datosAmpliado #botones img {
  border: none;
}

@media screen and (min-width: 768px) {
  body.nocturno header {
    background-color: #37383C;
  }
  body.nocturno header #barraNavegacion nav .menu ul {
    background-color: #37383C;
  }
  body.nocturno header #barraNavegacion nav .menu ul li .link {
    color: #ffffff;
  }
  body.nocturno header #barraNavegacion nav .menu ul li .lineaHover {
    background-color: #37383C;
  }
  body.nocturno footer .grillaFooter div .iconos a .facebook:hover {
    background-image: url(../images/icon_facebook_noc.svg);
  }
  body.nocturno footer .grillaFooter div .iconos a .twitter:hover {
    background-image: url(../images/icon_twitter_noc.svg);
  }
  body.nocturno footer .grillaFooter div .iconos a .instagram:hover {
    background-image: url(../images/icon_instagram_noc.svg);
  }
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

header .lineaAzul {
  height: 5px;
  background-color: #572EE5;
}

header #barraNavegacion {
  height: 95px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #barraNavegacion a img {
  width: 49px;
  margin: 29px 0 0 22px;
}

header #barraNavegacion nav {
  height: 95px;
}

header #barraNavegacion nav .menu {
  margin: 47px 26px 0 0;
  /*---------CHECKBOX TRANSPARENTE-----------*/
}

header #barraNavegacion nav .menu .cruz {
  display: none;
}

header #barraNavegacion nav .menu ul {
  width: 100%;
  position: absolute;
  top: 100px;
  right: 0;
  overflow: hidden;
  background-color: rgba(87, 46, 229, 0.9);
  height: 0px;
}

header #barraNavegacion nav .menu ul .linkPrimero {
  margin-top: 40px;
}

header #barraNavegacion nav .menu ul li {
  list-style: none;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #barraNavegacion nav .menu ul li .link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-size: 15px;
  text-align: center;
}

header #barraNavegacion nav .menu ul li .crearGifos {
  display: none;
}

header #barraNavegacion nav .menu ul li .lineaFina {
  width: 41px;
  height: 0.1px;
  margin-top: 14px;
  background-color: #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header #barraNavegacion nav .menu ul li .lineaHover {
  display: none;
}

header #barraNavegacion nav .menu ul li:hover .lineaHover {
  background-color: #50E3C2;
}

header #barraNavegacion nav .menu ul li:active .lineaHover {
  background-color: rgba(156, 175, 195, 0);
}

header #barraNavegacion nav .menu ul li:active .link {
  color: #9CAFC3;
}

header #barraNavegacion nav .menu input[type="checkbox"]:checked ~ ul {
  height: 100vh;
}

header #barraNavegacion nav .menu input:checked ~ .hamburguesa {
  display: none;
}

header #barraNavegacion nav .menu input:checked ~ .cruz {
  display: inherit;
}

header #barraNavegacion nav .menu input {
  display: block;
  width: 95px;
  height: 95px;
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 5px;
  right: 0px;
}

main {
  position: relative;
  top: 100px;
}

main #presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #presentacion h1.titulo {
  padding: 10px 45px 30px 45px;
  font-size: 25px;
  line-height: 33px;
}

main #presentacion .barraBusqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

main #presentacion .barraBusqueda img {
  width: 80%;
  max-width: 400px;
}

main #presentacion .barraBusqueda #form {
  margin: 0 5%;
  width: 90%;
  border: #572EE5 solid 1px;
  border-radius: 25px;
  max-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #presentacion .barraBusqueda #form #CompletarCampo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #presentacion .barraBusqueda #form #CompletarCampo input {
  outline: none;
  width: 80%;
  max-width: 550px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  color: #6B7989;
  font-size: 16px;
  line-height: 19px;
}

main #presentacion .barraBusqueda #form #CompletarCampo #lupaGris {
  height: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  opacity: 0;
}

main #presentacion .barraBusqueda #form #CompletarCampo #lupaAzul {
  height: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
}

main #presentacion .barraBusqueda #form #lineaGris {
  height: 1px;
  width: 90%;
  background-color: #9CAFC3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0;
}

main #presentacion .barraBusqueda #form ul {
  display: none;
}

main #presentacion .barraBusqueda #form ul li {
  color: #9CAFC3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 10px 0 15px 0;
  list-style-image: url("../images/icon-search-gris-resultado.svg");
}

main #presentacion .barraBusqueda #form ul .liLupa {
  margin-left: 11%;
  padding-left: 5%;
}

main #presentacion .barraTrending {
  margin-bottom: 45px;
  padding: 0 60px;
}

main #presentacion .barraTrending h3.titulo {
  font-size: 16px;
  line-height: 25px;
}

main #presentacion .barraTrending p.textosPrincipales {
  color: #572EE5;
  font-size: 14px;
  line-height: 25px;
}

main #presentacion .barraTrending #resultadosTrendings span:hover {
  font-weight: 700;
}

main #presentacion #resultadoBusquedaPersonal {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #presentacion #resultadoBusquedaPersonal #lineaGris {
  height: 1px;
  width: 157px;
  background-color: #9CAFC3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 42px;
}

main #presentacion #resultadoBusquedaPersonal #tituloBusquedaPersonal {
  margin-bottom: 40px;
  padding-bottom: 0;
}

main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
  margin: 0 5% 78px 5%;
}

main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal .GifTrending {
  margin: 2%;
  /* .pasarMouse:hover{
                        opacity: 0.6; 
                    }  */
}

main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal .GifTrending img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}

main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal .GifTrending .pasarMouse {
  position: absolute;
  margin-top: -204px;
  background-color: #572EE5;
  opacity: 0;
  height: 200px;
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal .GifTrending .pasarMouse .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}

main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal .GifTrending .pasarMouse .iconos img {
  height: 32px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  width: 32px;
  -o-object-fit: none;
     object-fit: none;
}

main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal .GifTrending .pasarMouse .infoTexto {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal .GifTrending .pasarMouse .infoTexto p {
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 5px;
}

main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal .GifTrending .pasarMouse .infoTexto h4 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

main #presentacion #resultadoBusquedaPersonal #ouchResultados {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 340px;
}

main #presentacion #resultadoBusquedaPersonal #ouchResultados p {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #50E3C2;
  text-align: center;
  margin: 30px 0 110px 0;
}

main #presentacion #contenedorVacio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #presentacion #contenedorVacio p {
  color: #50E3C2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

main #trending {
  background-color: #F3F5F8;
  padding-bottom: 82px;
}

main #trending .informacion {
  padding-top: 50px;
}

main #trending .informacion h2 {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 10px;
}

main #trending .informacion p {
  font-size: 16px;
  line-height: 23px;
}

main #trending .scroll {
  margin-top: 40px;
}

main #trending .scroll .imagenSimulada {
  height: 187px;
  width: 243px;
  background-color: #572EE5;
  margin: 0 auto;
}

#botonVerMas, #botonVerMasFavoritos, #botonVerMasMisGifos {
  height: 50px;
  width: 127px;
  border-radius: 50px;
  border: 1px #572EE5 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 78px;
}

#botonVerMas p, #botonVerMasFavoritos p, #botonVerMasMisGifos p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #572EE5;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
}

#botonVerMas:hover, #botonVerMasFavoritos:hover {
  background-color: #572EE5;
}

#botonVerMas:hover p, #botonVerMasFavoritos:hover p {
  color: #ffffff;
}

@supports (display: grid) {
  #gifTrending {
    position: relative;
    width: 80%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    will-change: transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  .scroll {
    grid-area: main;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

#grillaResultadosFavoritos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 0 5% 78px 5%;
}

#grillaResultadosFavoritos .GifFavoritos {
  margin: 2%;
  /* .pasarMouse:hover{
            opacity: 0.6; 
        }  */
}

#grillaResultadosFavoritos .GifFavoritos img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}

#grillaResultadosFavoritos .GifFavoritos .pasarMouse {
  position: absolute;
  margin-top: -204px;
  background-color: #572EE5;
  opacity: 0;
  height: 200px;
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#grillaResultadosFavoritos .GifFavoritos .pasarMouse .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}

#grillaResultadosFavoritos .GifFavoritos .pasarMouse .iconos img {
  height: 32px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  width: 32px;
  -o-object-fit: none;
     object-fit: none;
}

#grillaResultadosFavoritos .GifFavoritos .pasarMouse .infoTexto {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#grillaResultadosFavoritos .GifFavoritos .pasarMouse .infoTexto p {
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 5px;
}

#grillaResultadosFavoritos .GifFavoritos .pasarMouse .infoTexto h4 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scroll #scrollIzquierda, .scroll #scrollDerecha {
  display: none;
}

.scroll #gifTrending {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.scroll #gifTrending div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* .pasarMouse:hover{
                opacity: 0.6; 
            } */
}

.scroll #gifTrending div img {
  height: 200px;
  width: 260px;
  margin: 0 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.scroll #gifTrending div .pasarMouse {
  position: absolute;
  margin: 0 10px;
  background-color: #572EE5;
  opacity: 0;
  height: 200px;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scroll #gifTrending div .pasarMouse .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}

.scroll #gifTrending div .pasarMouse .iconos img {
  height: 32px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  width: 32px;
  -o-object-fit: none;
     object-fit: none;
}

.scroll #gifTrending div .pasarMouse .infoTexto {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scroll #gifTrending div .pasarMouse .infoTexto p {
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 5px;
}

.scroll #gifTrending div .pasarMouse .infoTexto h4 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.iconoCorazon:hover {
  content: url(../images/icon-fav-hover.svg);
}

.iconoDescargar:hover {
  content: url(../images/icon-download-hover.svg);
}

.iconoAgrandar:hover {
  content: url(../images/icon-max-hover.svg);
}

#agrandarGif {
  height: 100vh;
  width: 90vw;
  position: relative;
  left: 5vw;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#agrandarGif #marcoIcono {
  margin-top: 50px;
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#agrandarGif #marcoIcono #iconoCerrar {
  position: absolute;
  right: 5%;
}

#agrandarGif #agregarElGifAqui {
  width: 90%;
  height: 385px;
  margin-top: 50px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#agrandarGif #agregarElGifAqui img {
  width: 100%;
  max-height: 385px;
  -o-object-fit: cover;
     object-fit: cover;
}

#agrandarGif #datosAmpliado {
  margin-top: 30px;
  width: 90%;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#agrandarGif #datosAmpliado #datosGifAmpliado {
  font-family: "Roboto", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#agrandarGif #datosAmpliado #datosGifAmpliado p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

#agrandarGif #datosAmpliado #datosGifAmpliado h4 {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
}

#agrandarGif #datosAmpliado #botones {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#agrandarGif #datosAmpliado #botones img {
  float: right;
  margin-left: 10px;
  border: #9CAFC3 1px solid;
  border-radius: 10px;
}

footer {
  position: relative;
  top: 100px;
  padding: 47px 0 0 0;
}

footer .grillaFooter div .textosSecundarios {
  font-size: 15px;
  line-height: 18px;
}

footer .grillaFooter div .iconos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 22px auto 47px auto;
  width: 100px;
}

footer .grillaFooter div .iconos a .facebook, footer .grillaFooter div .iconos a .twitter, footer .grillaFooter div .iconos a .instagram {
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

footer .grillaFooter div .iconos a .facebook {
  background-image: url(../images/icon_facebook.svg);
}

footer .grillaFooter div .iconos a .twitter {
  background-image: url(../images/icon-twitter.svg);
}

footer .grillaFooter div .iconos a .instagram {
  background-image: url(../images/icon_instagram.svg);
}

footer .grillaFooter div .iconos a .facebook:active {
  background-image: url(../images/icon_facebook_hover.svg);
}

footer .grillaFooter div .iconos a .twitter:active {
  background-image: url(../images/icon-twitter-hover.svg);
}

footer .grillaFooter div .iconos a .instagram:active {
  background-image: url(../images/icon_instagram-hover.svg);
}

footer .grillaFooter .texto2 {
  margin-bottom: 25px;
  font-size: 14px;
}

footer .lineaAzul {
  height: 5px;
  background-color: #572EE5;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

@media screen and (min-width: 768px) {
  #agrandarGif {
    width: 70vw;
    position: relative;
    left: 15vw;
  }
  header {
    background-color: #ffffff;
  }
  header #barraNavegacion {
    height: 90px;
    margin-right: 7%;
    margin-left: 7%;
  }
  header #barraNavegacion a {
    position: relative;
    z-index: 12;
    margin-left: 0px;
  }
  header #barraNavegacion a img {
    margin: 18px 0 0 0;
    width: 59px;
  }
  header #barraNavegacion nav {
    width: 100%;
    height: 90px;
  }
  header #barraNavegacion nav .menu {
    height: 90px;
    margin: 0;
  }
  header #barraNavegacion nav .menu .hamburguesa {
    display: none;
  }
  header #barraNavegacion nav .menu .cruz {
    display: none;
  }
  header #barraNavegacion nav .menu ul {
    height: 90px;
    position: relative;
    top: 0;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
  }
  header #barraNavegacion nav .menu ul .linkPrimero {
    margin: 0;
  }
  header #barraNavegacion nav .menu ul li {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    padding-left: 40px;
  }
  header #barraNavegacion nav .menu ul li .link {
    color: #572EE5;
    margin: 0;
  }
  header #barraNavegacion nav .menu ul li .crearGifos {
    display: inherit;
    content: url(../images/button-crear-gifo.svg);
  }
  header #barraNavegacion nav .menu ul li .crearGifos:hover {
    content: url(../images/CTA-crear-gifo-hover.svg);
  }
  header #barraNavegacion nav .menu ul li .crearGifos:active {
    content: url(../images/CTA-crear-gifo-active.svg);
  }
  header #barraNavegacion nav .menu ul li .lineaFina {
    display: none;
  }
  header #barraNavegacion nav .menu ul li .lineaHover {
    display: inherit;
    width: 100%;
    height: 2px;
    margin-top: 3px;
    background-color: #ffffff;
  }
  header #barraNavegacion nav input#checkbox {
    display: none;
  }
  header #barraNavegacion nav .menu input[type="checkbox"]:checked ~ ul {
    height: 90px;
  }
  header #barraNavegacion nav .menu input:checked ~ .cruz {
    display: none;
  }
  main {
    position: relative;
    top: 170px;
  }
  main #presentacion h1.titulo {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    line-height: 50px;
  }
  main #presentacion .barraTrending h3.titulo {
    margin-top: 73px;
  }
  main #presentacion .barraTrending p.textosPrincipales {
    margin-bottom: 95px;
  }
  main #presentacion .barraTrending {
    margin-bottom: 45px;
    padding: 0 60px;
  }
  main #presentacion .barraTrending h3.titulo {
    font-size: 16px;
    line-height: 25px;
  }
  main #presentacion .barraTrending p.textosPrincipales {
    color: #572EE5;
    font-size: 14px;
    line-height: 25px;
  }
  main #presentacion #resultadoBusquedaPersonal #lineaGris {
    width: 340px;
    margin-bottom: 82px;
  }
  main #presentacion #resultadoBusquedaPersonal #tituloBusquedaPersonal {
    margin-bottom: 60px;
  }
  main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  }
  main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal .GifTrending .pasarMouse {
    width: 29%;
  }
  main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal .GifTrending .pasarMouse:hover {
    opacity: 0.6;
  }
  main #trending {
    padding-bottom: 182px;
  }
  main #trending .informacion {
    padding-top: 63px;
  }
  main #trending .informacion h2 {
    font-size: 25px;
    padding-bottom: 12px;
  }
  main #trending .informacion p {
    font-size: 18px;
  }
  main #trending .informacion p br {
    display: none;
  }
  main #trending #scrollIzquierda, main #trending #scrollDerecha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main #trending #scrollIzquierda #iconoScrollIzquierda {
    content: url(../images/button-slider-left.svg);
  }
  main #trending #scrollIzquierda #iconoScrollIzquierda:hover {
    content: url(../images/button-slider-left-hover.svg);
  }
  main #trending #scrollIzquierda #iconoScrollIzquierda:active {
    content: url(../images/button-slider-left-hover.svg);
  }
  main #trending #scrollDerecha #iconoScrollDerecha {
    content: url(../images/Button-Slider-right.svg);
  }
  main #trending #scrollDerecha #iconoScrollDerecha:hover {
    content: url(../images/Button-Slider-right-hover.svg);
  }
  main #trending #scrollDerecha #iconoScrollDerecha:active {
    content: url(../images/Button-Slider-right-hover.svg);
  }
  footer {
    position: relative;
    top: 120px;
  }
  footer .grillaFooter {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 0 10%;
    height: 116px;
  }
  footer .grillaFooter div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .grillaFooter div .textosSecundarios {
    font-size: 13px;
    line-height: 15px;
  }
  footer .grillaFooter div .iconos {
    margin: 0 0 0 20px;
  }
  footer .grillaFooter div .iconos a .facebook:hover {
    background-image: url(../images/icon_facebook_hover.svg);
  }
  footer .grillaFooter div .iconos a .twitter:hover {
    background-image: url(../images/icon-twitter-hover.svg);
  }
  footer .grillaFooter div .iconos a .instagram:hover {
    background-image: url(../images/icon_instagram-hover.svg);
  }
  footer .grillaFooter .texto2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 0;
  }
  .scroll #gifTrending div img {
    height: 275px;
    width: 340px;
  }
  .scroll #gifTrending div .pasarMouse {
    height: 275px;
    width: 340px;
  }
  .scroll #gifTrending div .pasarMouse:hover {
    opacity: 0.6;
  }
  #grillaResultadosFavoritos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  #grillaResultadosFavoritos .GifFavoritos .pasarMouse {
    width: 29%;
  }
  #grillaResultadosFavoritos .GifFavoritos .pasarMouse:hover {
    opacity: 0.6;
  }
}

@media screen and (min-width: 1024px) {
  header #barraNavegacion {
    margin-right: 10%;
    margin-left: 10%;
  }
  main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
  }
  main #presentacion #resultadoBusquedaPersonal #grillaBusquedaPersonal .GifTrending .pasarMouse {
    width: 21.5%;
  }
  #grillaResultadosFavoritos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #grillaResultadosFavoritos .GifFavoritos .pasarMouse {
    width: 21.5%;
  }
}

main#crearGif {
  position: relative;
  top: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main#crearGif .seccionCamara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
}

main#crearGif .seccionCamara .cajaEncuadre {
  height: 390px;
  min-width: 690px;
  border: 1px solid #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main#crearGif .seccionCamara .cajaEncuadre h2 {
  font-size: 25px;
  line-height: 35px;
}

main#crearGif .seccionCamara .cajaEncuadre .textosSecundarios {
  padding-top: 10px;
  line-height: 29px;
}

main#crearGif .seccionCamara .cajaEncuadre #gifAzul {
  display: none;
  width: 430px;
  height: 240px;
  margin: auto;
}

main#crearGif .seccionCamara .cajaEncuadre #gifAzul #videoGif video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

main#crearGif .seccionCamara .cajaEncuadre #gifAzul #videoGif #gifGrabado {
  display: none;
  width: 430px;
  margin: auto;
}

main#crearGif .seccionCamara .cajaEncuadre #gifAzul #cuadroAzul {
  display: none;
  z-index: 50;
  background-color: #572EE5;
  opacity: 0.60;
  width: 430px;
  height: 240px;
  position: absolute;
  bottom: 210px;
}

main#crearGif .seccionCamara .cajaEncuadre #gifAzul #cuadroAzul #iconosEsquina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 12px 12px 0 0;
}

main#crearGif .seccionCamara .cajaEncuadre #gifAzul #cuadroAzul #iconosEsquina #iconoCompartir {
  margin-left: 8px;
  opacity: 0;
}

main#crearGif .seccionCamara .cajaEncuadre #gifAzul #cuadroAzul #iconosEsquina #iconoDescarga:hover {
  content: url(../images/icon-download-hover.svg);
}

main#crearGif .seccionCamara .cajaEncuadre #gifAzul #cuadroAzul #iconosEsquina #iconoCompartir:hover {
  content: url(../images/icon-link-hover.svg);
}

main#crearGif .seccionCamara .cajaEncuadre #gifAzul #cuadroAzul #estadoSubida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

main#crearGif .seccionCamara .cajaEncuadre #gifAzul #cuadroAzul #estadoSubida #iconoEstado {
  margin-bottom: 15px;
}

main#crearGif .seccionCamara .cajaEncuadre #gifAzul #cuadroAzul #estadoSubida p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 700;
}

main#crearGif .seccionCamara .cajaEncuadre .marcasEncuadre {
  position: absolute;
  margin: 27px;
  height: 336px;
  width: 636px;
}

main#crearGif .seccionCamara .cajaEncuadre .marcasEncuadre .esquina {
  height: 27px;
  width: 25px;
  border-top: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
}

main#crearGif .seccionCamara .cajaEncuadre .marcasEncuadre .arribaIzq {
  position: absolute;
}

main#crearGif .seccionCamara .cajaEncuadre .marcasEncuadre .arribaDer {
  position: absolute;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

main#crearGif .seccionCamara .cajaEncuadre .marcasEncuadre .abajoDer {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main#crearGif .seccionCamara .cajaEncuadre .marcasEncuadre .abajoIzq {
  position: absolute;
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

main#crearGif .seccionCamara .imgPelicula {
  position: relative;
  left: 50px;
  top: 200px;
}

main#crearGif #lineaBotonesCronom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  width: 690px;
  margin: auto;
}

main#crearGif #lineaBotonesCronom .botonesPasos {
  width: 200px;
  /* margin: 13px auto; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-evenly; */
  justify-self: right;
}

main#crearGif #lineaBotonesCronom .botonesPasos div {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #572EE5;
  font-size: 18px;
  line-height: 32px;
  border: 1px solid #572EE5;
  height: 32px;
  width: 32px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 13px;
}

main#crearGif #lineaBotonesCronom #cronometro, main#crearGif #lineaBotonesCronom #repetirCaptura {
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: right;
      justify-self: right;
}

main#crearGif #lineaBotonesCronom #repetirCaptura {
  text-transform: uppercase;
  display: none;
}

main#crearGif #lineaBotonesCronom #repetirCaptura:hover .lineaHover {
  background-color: #50E3C2;
  height: 3px;
}

main#crearGif .lineaGruesa {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 795px;
  height: 7px;
  background-color: #572EE5;
  border-radius: 7px;
}

main#crearGif .botonesCreacion {
  height: 50px;
  width: 127px;
  border-radius: 50px;
  border: 1px #572EE5 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 20px;
}

main#crearGif .botonesCreacion p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #572EE5;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
}

main#crearGif .botonesCreacion:hover {
  background-color: #572EE5;
}

main#crearGif .botonesCreacion:hover p {
  color: #ffffff;
}

main#crearGif #botonGrabar, main#crearGif #botonFinalizar, main#crearGif #botonSubir {
  display: none;
}
/*# sourceMappingURL=style.css.map */