* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #572EE5;
  text-align: center;
}

.textosPrincipales {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}

.textosSecundarios {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}

.colorVerde {
  color: #50E3C2;
}

body.nocturno {
  background-color: #37383C;
}

body.nocturno .titulo {
  color: #ffffff;
}

body.nocturno header .lineaAzul {
  background-color: #000000;
}

body.nocturno header #barraNavegacion {
  background-color: #37383C;
}

body.nocturno header #barraNavegacion nav .menu ul {
  background-color: rgba(0, 0, 0, 0.9);
}

body.nocturno main #presentacion .barraBusqueda form input {
  border: #ffffff solid 1px;
  color: #9CAFC3;
  background-color: #37383C;
  background-image: url("../images/icon-search-modo-noct.svg");
}

body.nocturno main #presentacion .barraTrending p.textosPrincipales {
  color: #ffffff;
}

body.nocturno main #trending {
  background-color: #222326;
}

body.nocturno main #trending p.textosSecundarios {
  color: #ffffff;
}

body.nocturno footer .grillaFooter div .textosSecundarios {
  color: #ffffff;
}

body.nocturno footer .grillaFooter div .iconos a .facebook:active {
  background-image: url(../images/icon_facebook_noc.svg);
}

body.nocturno footer .grillaFooter div .iconos a .twitter:active {
  background-image: url(../images/icon_twitter_noc.svg);
}

body.nocturno footer .grillaFooter div .iconos a .instagram:active {
  background-image: url(../images/icon_instagram_noc.svg);
}

body.nocturno footer .grillaFooter .texto2 {
  color: #ffffff;
}

body.nocturno footer .lineaAzul {
  background-color: #000000;
}

@media screen and (min-width: 768px) {
  body.nocturno header {
    background-color: #37383C;
  }
  body.nocturno header #barraNavegacion nav .menu ul {
    background-color: #37383C;
  }
  body.nocturno header #barraNavegacion nav .menu ul li .link {
    color: #ffffff;
  }
  body.nocturno header #barraNavegacion nav .menu ul li .lineaHover {
    background-color: #37383C;
  }
  body.nocturno footer .grillaFooter div .iconos a .facebook:hover {
    background-image: url(../images/icon_facebook_noc.svg);
  }
  body.nocturno footer .grillaFooter div .iconos a .twitter:hover {
    background-image: url(../images/icon_twitter_noc.svg);
  }
  body.nocturno footer .grillaFooter div .iconos a .instagram:hover {
    background-image: url(../images/icon_instagram_noc.svg);
  }
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

header .lineaAzul {
  height: 5px;
  background-color: #572EE5;
}

header #barraNavegacion {
  height: 95px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #barraNavegacion a img {
  width: 49px;
  margin: 29px 0 0 22px;
}

header #barraNavegacion nav {
  height: 95px;
}

header #barraNavegacion nav .menu {
  margin: 47px 26px 0 0;
  /*---------CHECKBOX TRANSPARENTE-----------*/
}

header #barraNavegacion nav .menu .cruz {
  display: none;
}

header #barraNavegacion nav .menu ul {
  width: 100%;
  position: absolute;
  top: 100px;
  right: 0;
  overflow: hidden;
  background-color: rgba(87, 46, 229, 0.9);
  height: 0px;
}

header #barraNavegacion nav .menu ul .linkPrimero {
  margin-top: 40px;
}

header #barraNavegacion nav .menu ul li {
  list-style: none;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #barraNavegacion nav .menu ul li .link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-size: 15px;
  text-align: center;
}

header #barraNavegacion nav .menu ul li .crearGifos {
  display: none;
}

header #barraNavegacion nav .menu ul li .lineaFina {
  width: 41px;
  height: 0.1px;
  margin-top: 14px;
  background-color: #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header #barraNavegacion nav .menu ul li .lineaHover {
  display: none;
}

header #barraNavegacion nav .menu input[type="checkbox"]:checked ~ ul {
  height: 100vh;
}

header #barraNavegacion nav .menu input:checked ~ .hamburguesa {
  display: none;
}

header #barraNavegacion nav .menu input:checked ~ .cruz {
  display: inherit;
}

header #barraNavegacion nav .menu input {
  display: block;
  width: 95px;
  height: 95px;
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 5px;
  right: 0px;
}

main {
  position: relative;
  top: 100px;
}

main #presentacion h1.titulo {
  padding: 10px 45px 30px 45px;
  font-size: 25px;
  line-height: 33px;
}

main #presentacion .barraBusqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

main #presentacion .barraBusqueda img {
  width: 80%;
  max-width: 400px;
}

main #presentacion .barraBusqueda form {
  margin: 0 5%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #presentacion .barraBusqueda form input {
  border: #572EE5 solid 1px;
  width: 100%;
  max-width: 550px;
  height: 50px;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  color: #6B7989;
  font-size: 16px;
  line-height: 19px;
  padding-left: 25px;
  padding-right: 25px;
  background-image: url("../images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: right 25px center;
  background-size: 20px;
}

main #presentacion .barraTrending {
  margin-bottom: 45px;
  padding: 0 60px;
}

main #presentacion .barraTrending h3.titulo {
  font-size: 16px;
  line-height: 25px;
}

main #presentacion .barraTrending p.textosPrincipales {
  color: #572EE5;
  font-size: 14px;
  line-height: 25px;
}

main #trending {
  background-color: #F3F5F8;
  padding-bottom: 82px;
}

main #trending .informacion {
  padding-top: 50px;
}

main #trending .informacion h2 {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 10px;
}

main #trending .informacion p {
  font-size: 16px;
  line-height: 23px;
}

main #trending .swipe {
  margin-top: 40px;
}

main #trending .swipe .imagenSimulada {
  height: 187px;
  width: 243px;
  background-color: #572EE5;
  margin: 0 auto;
}

footer {
  position: relative;
  top: 100px;
  padding: 47px 0 0 0;
}

footer .grillaFooter div .textosSecundarios {
  font-size: 15px;
  line-height: 18px;
}

footer .grillaFooter div .iconos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 22px auto 47px auto;
  width: 100px;
}

footer .grillaFooter div .iconos a .facebook, footer .grillaFooter div .iconos a .twitter, footer .grillaFooter div .iconos a .instagram {
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

footer .grillaFooter div .iconos a .facebook {
  background-image: url(../images/icon_facebook.svg);
}

footer .grillaFooter div .iconos a .twitter {
  background-image: url(../images/icon-twitter.svg);
}

footer .grillaFooter div .iconos a .instagram {
  background-image: url(../images/icon_instagram.svg);
}

footer .grillaFooter div .iconos a .facebook:active {
  background-image: url(../images/icon_facebook_hover.svg);
}

footer .grillaFooter div .iconos a .twitter:active {
  background-image: url(../images/icon-twitter-hover.svg);
}

footer .grillaFooter div .iconos a .instagram:active {
  background-image: url(../images/icon_instagram-hover.svg);
}

footer .grillaFooter .texto2 {
  margin-bottom: 25px;
  font-size: 14px;
}

footer .lineaAzul {
  height: 5px;
  background-color: #572EE5;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

@media screen and (min-width: 768px) {
  header {
    background-color: #ffffff;
  }
  header #barraNavegacion {
    height: 90px;
    margin-right: 7%;
    margin-left: 7%;
  }
  header #barraNavegacion a {
    position: relative;
    z-index: 12;
    margin-left: 0px;
  }
  header #barraNavegacion a img {
    margin: 18px 0 0 0;
    width: 59px;
  }
  header #barraNavegacion nav {
    width: 100%;
    height: 90px;
  }
  header #barraNavegacion nav .menu {
    height: 90px;
    margin: 0;
  }
  header #barraNavegacion nav .menu .hamburguesa {
    display: none;
  }
  header #barraNavegacion nav .menu .cruz {
    display: none;
  }
  header #barraNavegacion nav .menu ul {
    height: 90px;
    position: relative;
    top: 0;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
  }
  header #barraNavegacion nav .menu ul .linkPrimero {
    margin: 0;
  }
  header #barraNavegacion nav .menu ul li {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    padding-left: 40px;
  }
  header #barraNavegacion nav .menu ul li .link {
    color: #572EE5;
    margin: 0;
  }
  header #barraNavegacion nav .menu ul li .crearGifos {
    display: inherit;
    position: relative;
    bottom: 10px;
  }
  header #barraNavegacion nav .menu ul li .lineaFina {
    display: none;
  }
  header #barraNavegacion nav .menu ul li .lineaHover {
    display: inherit;
    width: 100%;
    height: 2px;
    margin-top: 3px;
    background-color: #ffffff;
  }
  header #barraNavegacion nav input#checkbox {
    display: none;
  }
  header #barraNavegacion nav .menu input[type="checkbox"]:checked ~ ul {
    height: 90px;
  }
  header #barraNavegacion nav .menu input:checked ~ .cruz {
    display: none;
  }
  main {
    position: relative;
    top: 170px;
  }
  main #presentacion h1.titulo {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    line-height: 50px;
  }
  main #presentacion .barraTrending h3.titulo {
    margin-top: 73px;
  }
  main #presentacion .barraTrending p.textosPrincipales {
    margin-bottom: 95px;
  }
  main #trending {
    padding-bottom: 182px;
  }
  main #trending .informacion {
    padding-top: 63px;
  }
  main #trending .informacion h2 {
    font-size: 25px;
    padding-bottom: 12px;
  }
  main #trending .informacion p {
    font-size: 18px;
  }
  main #trending .informacion p br {
    display: none;
  }
  main #trending .swipe {
    margin-top: 53px;
  }
  main #trending .swipe .imagenSimulada {
    height: 275px;
    width: 357px;
    margin: 0 auto;
  }
  footer {
    position: relative;
    top: 120px;
  }
  footer .grillaFooter {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 0 10%;
    height: 116px;
  }
  footer .grillaFooter div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .grillaFooter div .textosSecundarios {
    font-size: 13px;
    line-height: 15px;
  }
  footer .grillaFooter div .iconos {
    margin: 0 0 0 20px;
  }
  footer .grillaFooter div .iconos a .facebook:hover {
    background-image: url(../images/icon_facebook_hover.svg);
  }
  footer .grillaFooter div .iconos a .twitter:hover {
    background-image: url(../images/icon-twitter-hover.svg);
  }
  footer .grillaFooter div .iconos a .instagram:hover {
    background-image: url(../images/icon_instagram-hover.svg);
  }
  footer .grillaFooter .texto2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  header #barraNavegacion {
    margin-right: 10%;
    margin-left: 10%;
  }
  /* falta header mnain y footer */
}
/*# sourceMappingURL=style.css.map */